<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
RewriteEngine 		on
RewriteCond 		%{HTTP:Authorization} ^(.*)$ [NC]
RewriteRule 		/.* - [E=HTTP_AUTHORIZATION:%1]